In [7]:
import pandas as pd
from numpy import nan
import numpy as np
from src.utils.change_of_coordinates import exp_to_four_vec

In [8]:
# From: https://cernbox.cern.ch/files/link/public/Ju7DYsj0y8sQe2j?tiles-size=1&items-per-page=100&view-mode=resource-table
df = pd.read_csv("data\hww_1M_MG5.csv", dtype=np.float64)
df.head()

,e_pt,e_eta,e_phi,mu_pt,mu_eta,mu_phi,met,met_eta,met_phi,truth_e_pt,...,truth_mu_pt,truth_mu_eta,truth_mu_phi,truth_ve_pt,truth_ve_eta,truth_ve_phi,truth_vmu_pt,truth_vmu_eta,truth_vmu_phi,case
0,46.081413,0.217022,1.496791,19.464529,-0.766095,-0.876188,35.120730,0.183336,-2.039379,45.729412,...,19.291025,-0.766095,-0.876188,32.671620,-0.151031,-1.744423,10.181181,-1.514880,3.003893,1.0
1,33.121284,0.285249,-0.932040,0.000000,0.000000,0.000000,30.244675,-0.769428,2.879684,32.952920,...,20.058023,0.722224,1.118755,34.993404,1.763481,-2.932173,16.732540,0.880139,1.215482,0.0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.091389,...,27.143011,-3.983857,-2.065176,38.057587,-3.170648,1.296982,7.084515,-2.523857,1.769620,0.0
3,0.000000,0.000000,0.000000,16.789610,-1.434246,0.976822,52.645706,2.227217,-1.828740,37.291855,...,16.919205,-1.434246,0.976822,43.922127,-2.241029,-1.893208,9.423235,-0.646070,-1.542176,1.0
4,0.000000,0.000000,0.000000,25.708586,-1.637546,1.614926,24.770420,1.772988,-1.144410,9.944955,...,25.945395,-1.637546,1.614926,4.242160,-4.162600,0.298411,24.492517,-3.745687,-1.306849,1.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 22 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   e_pt           1000000 non-null  float64
 1   e_eta          1000000 non-null  float64
 2   e_phi          1000000 non-null  float64
 3   mu_pt          1000000 non-null  float64
 4   mu_eta         1000000 non-null  float64
 5   mu_phi         1000000 non-null  float64
 6   met            1000000 non-null  float64
 7   met_eta        1000000 non-null  float64
 8   met_phi        1000000 non-null  float64
 9   truth_e_pt     1000000 non-null  float64
 10  truth_e_eta    1000000 non-null  float64
 11  truth_e_phi    1000000 non-null  float64
 12  truth_mu_pt    1000000 non-null  float64
 13  truth_mu_eta   1000000 non-null  float64
 14  truth_mu_phi   1000000 non-null  float64
 15  truth_ve_pt    1000000 non-null  float64
 16  truth_ve_eta   1000000 non-null  float64
 17  truth_ve_phi   1000000 non-null  float64
 18  truth_vmu_pt   1000000 non-null  float64
 19  truth_vmu_eta  1000000 non-null  float64
 20  truth_vmu_phi  1000000 non-null  float64
 21  case           1000000 non-null  float64
dtypes: float64(22)
memory usage: 167.8 MB

In [10]:
# Detector simulation
df[['Electron.E', 'Electron.px', 'Electron.py', 'Electron.pz']] = df.apply(
    lambda row: pd.Series(exp_to_four_vec(row['e_pt'], row['e_eta'], row['e_phi'], 0.000511)), axis=1)

df[['Muon.E', 'Muon.px', 'Muon.py', 'Muon.pz']] = df.apply(
    lambda row: pd.Series(exp_to_four_vec(row['mu_pt'], row['mu_eta'], row['mu_phi'], 0.10566)), axis=1)

# Truth
df[['Truth.Electron.E', 'Truth.Electron.px', 'Truth.Electron.py', 'Truth.Electron.pz']] = df.apply(
    lambda row: pd.Series(exp_to_four_vec(row['truth_e_pt'], row['truth_e_eta'], row['truth_e_phi'], 0.000511)), axis=1)

df[['Truth.Muon.E', 'Truth.Muon.px', 'Truth.Muon.py', 'Truth.Muon.pz']] = df.apply(
    lambda row: pd.Series(exp_to_four_vec(row['truth_mu_pt'], row['truth_mu_eta'], row['truth_mu_phi'], 0.10566)), axis=1)

# Truth neutrinos
df[['Truth.Neutrino.Electron.E', 'Truth.Neutrino.Electron.px', 'Truth.Neutrino.Electron.py', 'Truth.Neutrino.Electron.pz']] = df.apply(
    lambda row: pd.Series(exp_to_four_vec(row['truth_ve_pt'], row['truth_ve_eta'], row['truth_ve_phi'], 0.000511)), axis=1)

df[['Truth.Neutrino.Muon.E', 'Truth.Neutrino.Muon.px', 'Truth.Neutrino.Muon.py', 'Truth.Neutrino.Muon.pz']] = df.apply(
    lambda row: pd.Series(exp_to_four_vec(row['truth_vmu_pt'], row['truth_vmu_eta'], row['truth_vmu_phi'], 0.10566)), axis=1)

df.head()

,e_pt,e_eta,e_phi,mu_pt,mu_eta,mu_phi,met,met_eta,met_phi,truth_e_pt,...,Truth.Muon.py,Truth.Muon.pz,Truth.Neutrino.Electron.E,Truth.Neutrino.Electron.px,Truth.Neutrino.Electron.py,Truth.Neutrino.Electron.pz,Truth.Neutrino.Muon.E,Truth.Neutrino.Muon.px,Truth.Neutrino.Muon.py,Truth.Neutrino.Muon.pz
0,46.081413,0.217022,1.496791,19.464529,-0.766095,-0.876188,35.120730,0.183336,-2.039379,45.729412,...,-14.821374,-16.267401,33.044956,-5.644212,-32.180392,-4.953216,24.275785,-10.084810,1.397519,-22.037381
1,33.121284,0.285249,-0.932040,0.000000,0.000000,0.000000,30.244675,-0.769428,2.879684,32.952920,...,18.043341,15.779009,105.052822,-34.228857,-7.274865,99.053304,23.642977,5.821007,15.687376,16.703332
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.091389,...,-23.892992,-728.861174,454.120256,10.290997,36.639805,-452.522737,44.479440,-1.399309,6.944947,-43.911491
3,0.000000,0.000000,0.000000,16.789610,-1.434246,0.976822,52.645706,2.227217,-1.828740,37.291855,...,14.021330,-33.484654,208.835359,-13.916937,-41.658998,-204.164282,11.459746,0.269657,-9.419376,-6.520526
4,0.000000,0.000000,0.000000,25.708586,-1.637546,1.614926,24.770420,1.772988,-1.144410,9.944955,...,25.920135,-64.189893,136.287646,4.054677,1.247203,-136.221608,518.772375,6.389936,-23.644283,-518.193866

In [11]:
# l1 has highest p_T
# Detector simulation
df["p_l_1_E"] = df.apply(lambda row: row["Electron.E"] if row["e_pt"] > row["mu_pt"] else row["Muon.E"], axis=1)
df["p_l_1_x"] = df.apply(lambda row: row["Electron.px"] if row["e_pt"] > row["mu_pt"] else row["Muon.px"], axis=1)
df["p_l_1_y"] = df.apply(lambda row: row["Electron.py"] if row["e_pt"] > row["mu_pt"] else row["Muon.py"], axis=1)
df["p_l_1_z"] = df.apply(lambda row: row["Electron.pz"] if row["e_pt"] > row["mu_pt"] else row["Muon.pz"], axis=1)

df["p_l_2_E"] = df.apply(lambda row: row["Muon.E"] if row["e_pt"] > row["mu_pt"] else row["Electron.E"], axis=1)
df["p_l_2_x"] = df.apply(lambda row: row["Muon.px"] if row["e_pt"] > row["mu_pt"] else row["Electron.px"], axis=1)
df["p_l_2_y"] = df.apply(lambda row: row["Muon.py"] if row["e_pt"] > row["mu_pt"] else row["Electron.py"], axis=1)
df["p_l_2_z"] = df.apply(lambda row: row["Muon.pz"] if row["e_pt"] > row["mu_pt"] else row["Electron.pz"], axis=1)

# Truth
df["p_l_1_E_truth"] = df.apply(lambda row: row["Truth.Electron.E"] if row["truth_e_pt"] > row["truth_mu_pt"] else row["Truth.Muon.E"], axis=1)
df["p_l_1_x_truth"] = df.apply(lambda row: row["Truth.Electron.px"] if row["truth_e_pt"] > row["truth_mu_pt"] else row["Truth.Muon.px"], axis=1)
df["p_l_1_y_truth"] = df.apply(lambda row: row["Truth.Electron.py"] if row["truth_e_pt"] > row["truth_mu_pt"] else row["Truth.Muon.py"], axis=1)
df["p_l_1_z_truth"] = df.apply(lambda row: row["Truth.Electron.pz"] if row["truth_e_pt"] > row["truth_mu_pt"] else row["Truth.Muon.pz"], axis=1)

df["p_l_2_E_truth"] = df.apply(lambda row: row["Truth.Muon.E"] if row["truth_e_pt"] > row["truth_mu_pt"] else row["Truth.Electron.E"], axis=1)
df["p_l_2_x_truth"] = df.apply(lambda row: row["Truth.Muon.px"] if row["truth_e_pt"] > row["truth_mu_pt"] else row["Truth.Electron.px"], axis=1)
df["p_l_2_y_truth"] = df.apply(lambda row: row["Truth.Muon.py"] if row["truth_e_pt"] > row["truth_mu_pt"] else row["Truth.Electron.py"], axis=1)
df["p_l_2_z_truth"] = df.apply(lambda row: row["Truth.Muon.pz"] if row["truth_e_pt"] > row["truth_mu_pt"] else row["Truth.Electron.pz"], axis=1)

# Truth neutrino
df["p_v_1_E_truth"] = df.apply(lambda row: row["Truth.Neutrino.Electron.E"] if row["truth_e_pt"] > row["truth_mu_pt"] else row["Truth.Neutrino.Muon.E"], axis=1)
df["p_v_1_x_truth"] = df.apply(lambda row: row["Truth.Neutrino.Electron.px"] if row["truth_e_pt"] > row["truth_mu_pt"] else row["Truth.Neutrino.Muon.px"], axis=1)
df["p_v_1_y_truth"] = df.apply(lambda row: row["Truth.Neutrino.Electron.py"] if row["truth_e_pt"] > row["truth_mu_pt"] else row["Truth.Neutrino.Muon.py"], axis=1)
df["p_v_1_z_truth"] = df.apply(lambda row: row["Truth.Neutrino.Electron.pz"] if row["truth_e_pt"] > row["truth_mu_pt"] else row["Truth.Neutrino.Muon.pz"], axis=1)

df["p_v_2_E_truth"] = df.apply(lambda row: row["Truth.Neutrino.Muon.E"] if row["truth_e_pt"] > row["truth_mu_pt"] else  row["Truth.Neutrino.Electron.E"], axis=1)
df["p_v_2_x_truth"] = df.apply(lambda row: row["Truth.Neutrino.Muon.px"] if row["truth_e_pt"] > row["truth_mu_pt"] else row["Truth.Neutrino.Electron.px"], axis=1)
df["p_v_2_y_truth"] = df.apply(lambda row: row["Truth.Neutrino.Muon.py"] if row["truth_e_pt"] > row["truth_mu_pt"] else row["Truth.Neutrino.Electron.py"], axis=1)
df["p_v_2_z_truth"] = df.apply(lambda row: row["Truth.Neutrino.Muon.pz"] if row["truth_e_pt"] > row["truth_mu_pt"] else row["Truth.Neutrino.Electron.pz"], axis=1)


df.drop(columns=["Electron.E", "Electron.px", "Electron.py", "Electron.pz", "Muon.E", "Muon.px", "Muon.py", "Muon.pz", "e_pt", "e_eta", "e_phi", "mu_pt", "mu_eta", "mu_phi",
                 "Truth.Electron.E", "Truth.Electron.px", "Truth.Electron.py", "Truth.Electron.pz", "Truth.Muon.E", "Truth.Muon.px", "Truth.Muon.py", "Truth.Muon.pz", "truth_e_pt", "truth_e_eta", "truth_e_phi", "truth_mu_pt", "truth_mu_eta", "truth_mu_phi",
                 "Truth.Neutrino.Electron.E", "Truth.Neutrino.Electron.px", "Truth.Neutrino.Electron.py", "Truth.Neutrino.Electron.pz", "Truth.Neutrino.Muon.E", "Truth.Neutrino.Muon.px", "Truth.Neutrino.Muon.py", "Truth.Neutrino.Muon.pz", "truth_ve_pt", "truth_ve_eta", "truth_ve_phi", "truth_vmu_pt", "truth_vmu_eta", "truth_vmu_phi"], inplace=True)
df.head()

,met,met_eta,met_phi,case,p_l_1_E,p_l_1_x,p_l_1_y,p_l_1_z,p_l_2_E,p_l_2_x,...,p_l_2_y_truth,p_l_2_z_truth,p_v_1_E_truth,p_v_1_x_truth,p_v_1_y_truth,p_v_1_z_truth,p_v_2_E_truth,p_v_2_x_truth,p_v_2_y_truth,p_v_2_z_truth
0,35.120730,0.183336,-2.039379,1.0,47.170863,3.407152,45.955282,10.079371,25.461519,12.458952,...,-14.821374,-16.267401,33.044956,-5.644212,-32.180392,-4.953216,24.275785,-10.084810,1.397519,-22.037381
1,30.244675,-0.769428,2.879684,0.0,34.477934,19.746825,-26.591020,9.576453,0.105660,0.000000,...,18.043341,15.779009,105.052822,-34.228857,-7.274865,99.053304,23.642977,5.821007,15.687376,16.703332
2,0.000000,0.000000,0.000000,0.0,0.105660,0.000000,0.000000,0.000000,0.000511,0.000000,...,-19.691761,-1563.574553,44.479440,-1.399309,6.944947,-43.911491,454.120256,10.290997,36.639805,-452.522737
3,52.645706,2.227217,-1.828740,1.0,37.229204,9.396462,13.913932,-33.228173,0.000511,0.000000,...,14.021330,-33.484654,208.835359,-13.916937,-41.658998,-204.164282,11.459746,0.269657,-9.419376,-6.520526
4,24.770420,1.772988,-1.144410,1.0,68.603307,-1.134155,25.683556,-63.604018,0.000511,0.000000,...,-3.523053,-7.410691,518.772375,6.389936,-23.644283,-518.193866,136.287646,4.054677,1.247203,-136.221608

In [12]:
df["mpx"] = df.apply(lambda row: row["met"] * np.cos(row["met_phi"]), axis=1)
df["mpy"] = df.apply(lambda row: row["met"] * np.sin(row["met_phi"]), axis=1)

df.drop(columns=["met", "met_eta", "met_phi"], inplace=True)

df.head()

,case,p_l_1_E,p_l_1_x,p_l_1_y,p_l_1_z,p_l_2_E,p_l_2_x,p_l_2_y,p_l_2_z,p_l_1_E_truth,...,p_v_1_E_truth,p_v_1_x_truth,p_v_1_y_truth,p_v_1_z_truth,p_v_2_E_truth,p_v_2_x_truth,p_v_2_y_truth,p_v_2_z_truth,mpx,mpy
0,1.0,47.170863,3.407152,45.955282,10.079371,25.461519,12.458952,-14.954678,-16.413711,46.810540,...,33.044956,-5.644212,-32.180392,-4.953216,24.275785,-10.084810,1.397519,-22.037381,-15.861288,-31.335048
1,0.0,34.477934,19.746825,-26.591020,9.576453,0.105660,0.000000,0.000000,0.000000,34.302673,...,105.052822,-34.228857,-7.274865,99.053304,23.642977,5.821007,15.687376,16.703332,-29.213257,7.831090
2,0.0,0.105660,0.000000,0.000000,0.000000,0.000511,0.000000,0.000000,0.000000,729.366414,...,44.479440,-1.399309,6.944947,-43.911491,454.120256,10.290997,36.639805,-452.522737,0.000000,0.000000
3,1.0,37.229204,9.396462,13.913932,-33.228173,0.000511,0.000000,0.000000,0.000000,211.551413,...,208.835359,-13.916937,-41.658998,-204.164282,11.459746,0.269657,-9.419376,-6.520526,-13.429561,-50.904000
4,1.0,68.603307,-1.134155,25.683556,-63.604018,0.000511,0.000000,0.000000,0.000000,69.235230,...,518.772375,6.389936,-23.644283,-518.193866,136.287646,4.054677,1.247203,-136.221608,10.244632,-22.552632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1.0,49.370624,42.947539,-8.152902,22.945292,14.483443,-2.645376,-10.876888,-9.190508,49.024241,...,43.385470,-23.219298,30.977777,19.583906,28.692457,-16.739921,-11.834048,20.074548,-39.833119,19.169171
999996,1.0,125.016527,29.284563,-17.000199,-120.343377,93.282783,9.265621,16.099404,-91.414633,128.609905,...,432.422472,-18.679513,17.713315,-431.655531,148.189440,-20.688949,-16.283123,-145.831880,-38.634134,1.229392
999997,0.0,0.105660,0.000000,0.000000,0.000000,0.000511,0.000000,0.000000,0.000000,6.559545,...,315.799439,3.612494,-8.498351,-315.664382,149.872084,-3.665094,15.050526,-149.069414,-0.359289,6.450530
999998,0.0,33.056311,10.800637,-26.832426,16.002714,0.105660,0.000000,0.000000,0.000000,32.277483,...,28.959136,16.191362,9.426311,22.082029,42.092773,-12.842923,27.114650,29.523643,-11.265879,26.707207
999999,0.0,0.105660,0.000000,0.000000,0.000000,0.000511,0.000000,0.000000,0.000000,1105.705107,...,53.099868,17.977308,-3.282924,49.856141,91.015813,-4.159664,-19.202010,88.869832,11.260555,-21.013606

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 27 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   case           1000000 non-null  float64
 1   p_l_1_E        1000000 non-null  float64
 2   p_l_1_x        1000000 non-null  float64
 3   p_l_1_y        1000000 non-null  float64
 4   p_l_1_z        1000000 non-null  float64
 5   p_l_2_E        1000000 non-null  float64
 6   p_l_2_x        1000000 non-null  float64
 7   p_l_2_y        1000000 non-null  float64
 8   p_l_2_z        1000000 non-null  float64
 9   p_l_1_E_truth  1000000 non-null  float64
 10  p_l_1_x_truth  1000000 non-null  float64
 11  p_l_1_y_truth  1000000 non-null  float64
 12  p_l_1_z_truth  1000000 non-null  float64
 13  p_l_2_E_truth  1000000 non-null  float64
 14  p_l_2_x_truth  1000000 non-null  float64
 15  p_l_2_y_truth  1000000 non-null  float64
 16  p_l_2_z_truth  1000000 non-null  float64
 17  p_v_1_E_truth  1000000 non-null  float64
 18  p_v_1_x_truth  1000000 non-null  float64
 19  p_v_1_y_truth  1000000 non-null  float64
 20  p_v_1_z_truth  1000000 non-null  float64
 21  p_v_2_E_truth  1000000 non-null  float64
 22  p_v_2_x_truth  1000000 non-null  float64
 23  p_v_2_y_truth  1000000 non-null  float64
 24  p_v_2_z_truth  1000000 non-null  float64
 25  mpx            1000000 non-null  float64
 26  mpy            1000000 non-null  float64
dtypes: float64(27)
memory usage: 206.0 MB

In [17]:
df['case'].value_counts()

case
0.0    500673
1.0    499327
Name: count, dtype: int64

In [18]:
# Check for number of rows with any zeroes in columns 'p_l_1_E', 'p_l_1_x', 'p_l_1_y', 'p_l_1_z', 'p_l_2_E', 'p_l_2_x', 'p_l_2_y', 'mpx', 'mpy'
# And drop them from df
zero_columns = ['p_l_1_E', 'p_l_1_x', 'p_l_1_y', 'p_l_1_z', 'p_l_2_E', 'p_l_2_x', 'p_l_2_y', 'mpx', 'mpy']
zero_rows = df[(df[zero_columns] == 0).any(axis=1)]
print(f"Number of rows with zeroes in columns {zero_columns}: {len(zero_rows)}")
# Drop rows with zeroes in the specified columns
df = df[~(df[zero_columns] == 0).any(axis=1)]
# Check again for number of rows with any zeroes in columns 'p_l_1_E', 'p_l_1_x', 'p_l_1_y', 'p_l_1_z', 'p_l_2_E', 'p_l_2_x', 'p_l_2_y', 'mpx', 'mpy'
zero_rows_after = df[(df[zero_columns] == 0).any(axis=1)]
print(f"Number of rows with zeroes in columns {zero_columns} after dropping: {len(zero_rows_after)}")

Number of rows with zeroes in columns ['p_l_1_E', 'p_l_1_x', 'p_l_1_y', 'p_l_1_z', 'p_l_2_E', 'p_l_2_x', 'p_l_2_y', 'mpx', 'mpy']: 563246
Number of rows with zeroes in columns ['p_l_1_E', 'p_l_1_x', 'p_l_1_y', 'p_l_1_z', 'p_l_2_E', 'p_l_2_x', 'p_l_2_y', 'mpx', 'mpy'] after dropping: 0

In [1]:
from src.data_preproc.preprocessing import DataPreprocessor
import yaml

config = yaml.safe_load(open('config.yaml'))

data = DataPreprocessor(data_path=config['data_path'], raw_data_path=config['raw_data_path'],
                        processed_features_path=config['processed_features_path'],
                        processed_targets_path=config['processed_targets_path'],
                        detector_sim_path=config['detector_sim_path'],
                        truth_path=config['truth_path'],
                        cuts=False, splits=False, drop_zeroes=False)

X, y, types = data.run_preprocessing(return_numpy=False)

data_cuts = DataPreprocessor(data_path=config['data_path'], raw_data_path=config['raw_data_path'],
                        processed_features_path=config['processed_features_path'],
                        processed_targets_path=config['processed_targets_path'],
                        detector_sim_path=config['detector_sim_path'],
                        truth_path=config['truth_path'],
                        cuts=True, splits=False, drop_zeroes=False)

X_cuts, y_cuts, types_cuts = data_cuts.run_preprocessing(return_numpy=False)